.app-helmerts_leagal-tearm-condition {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
    width: 100%;
    background-color: var(--color-legal);
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.app-helmerts_leagal-tearm-condition_title h1 {
    font-family: var(--font-family2);
    color: var(--color-h);
    font-weight: 300;
    font-size: 26px;
    line-height: 38px;
}

.app-helmerts_leagal-tearm-condition_title p {
    text-align: center;
    font-size: 17px;
    font-family: var(--font-family2);
    font-weight: 200;
}

.app-helmerts_leagal-tearm-condition_content {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    width: 100%;
}

@media screen and (max-width: 990px) {
    .app-helmerts_leagal-tearm-condition {
        grid-gap: 1rem;
    }
}

@media screen and (max-width: 990px) {
    .app-helmerts_leagal-tearm-condition_title h1 {
        font-size: 22px;
        line-height: 30px;
    }

    .app-helmerts_leagal-tearm-condition_title p {
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    .app-helmerts_leagal-tearm-condition_title h1 {
        font-size: 18px;
        line-height: 28px;
    }

    .app-helmerts_leagal-tearm-condition_title p {
        font-size: 14px;
    }
}