.helmert-app-home-mainproduct {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 5rem;
}

.helmert-app-home-mainproduct-hot,
.helmert-app-home-mainproduct-flashsale {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 3rem;
}

.helmert-app-home-mainproduct-heading {
    display: flex;
    flex-direction: column;
}

.helmert-app-home-mainproduct-heading-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.helmert-app-home-mainproduct-heading-title-link {
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    text-align: center;
    align-items: center;
    color: var(--color-p);
    font-weight: 300;
    background: var(--gradient-bg-cta);
    border-radius: 0.3rem;
}

.helmert-app-home-mainproduct-heading-title-link:hover {
    color: var(--color-h);
    font-weight: 400;
    background: none;
    border: 1px solid rgb(0, 0, 0);

}

.helmert-app-home-mainproduct-heading-line {
    width: 100%;
    height: 3px;
    background: var(--liner-color);
}

.helmert-app-home-mainproduct-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .helmert-app-home-mainproduct-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .helmert-app-home-mainproduct-heading-title-link {
        font-size: 14px;
        line-height: 22px;
    }

    .helmert-app-home-mainproduct-heading-title-link:hover {
        font-size: 15px;
        font-weight: 400;
    }

}

@media screen and (max-width: 400px) {
    .helmert-app-home-mainproduct-content {
        grid-gap: 1rem;
    }
}