.app-helmerts-product-filter {
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
    width: 100%;
}

.app-helmerts-product_heading-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 4rem;
    grid-gap: 0.5rem;
}

.app-helmerts-product_heading-filter h1 {
    font-family: var(--font-family2);
    color: var(--color-h);
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
}

.product_notfound {
    color: var(--color-p);
    font-size: 16px;
    font-family: var(--font-family2);
    font-weight: 600;
}

.product_notfound_link {
    color: rgb(30, 163, 30);
    font-size: 16px;
    font-family: var(--font-family2);
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid rgb(73, 145, 73);
}

.product_notfound_link:hover {
    font-size: 16px;
    border-bottom: none;
}

.app-helmerts-product_filter-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem 0rem;
    width: 100%;
}

.app-helmerts-product_filter_left-filter {
    display: flex;
    flex-direction: row;
    grid-gap: 3rem;
    width: 100%;

}

.app-helmerts-product_filter-all-filter,
.app-helmerts-product_filter-category-filter,
.app-helmerts-product_filter-sort-filter {
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.app-helmerts-product_filter-all_title-filter,
.app-helmerts-product_filter-category_title-filter,
.app-helmerts-product_filter-sort_title-filter {
    display: flex;
    grid-gap: 0.2rem;
}

.app-helmerts-product_filter-all_title-filter p,
.app-helmerts-product_filter-category_title-filter p,
.app-helmerts-product_filter-sort_title-filter p {
    font-family: var(--font-family);
    color: var(--color-p);
    cursor: pointer;
    font-size: 16px;
}

.app-helmerts-product_filter-all_title-filter svg,
.app-helmerts-product_filter-category_title-filter svg,
.app-helmerts-product_filter-sort_titl-filter svg {
    font-family: var(--font-family);
    color: var(--color-p);
    cursor: pointer;
    width: 12px;
}

.app-helmerts-product_filter-all_title-filter {
    padding-left: 1rem;
}

.app-helmerts-product_filter-sort_title-filter {
    padding-right: 1rem;
}

.app-helmerts-product_filter-all_content-filter,
.app-helmerts-product_filter-category_content-filter,
.app-helmerts-product_filter-sort_content-filter {
    display: flex;
    position: absolute;
    margin-top: 2.5rem;
    background-color: rgb(255, 255, 255);
    left: 0;
    right: 0;
    width: 100%;
    flex-direction: row;
    padding: 0rem 1rem;

    /* padding: 1rem; */
}

.app-helmerts-product_filter-sort_content-filter {
    justify-content: flex-end;
    align-items: center;
}

.app-helmerts-product_filter-all_content-list-filter,
.app-helmerts-product_filter-category_content-list-filter,
.app-helmerts-product_filter-sort_content-list-filter {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    grid-gap: 3rem;
    flex-wrap: wrap;
}

.app-helmerts-product_filter-all_content-list-filter {
    transform: opacity 3s ease-in-out;
}

.app-helmerts-product_filter-all_content-list-filter.show {
    opacity: 1;
}

/* .app-helmerts-product_filter-sort_content-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    grid-gap: 0.5rem;
} */

.app-helmerts-product_filter-all_content-list-filter p,
.app-helmerts-product_filter-category_content-list-filter p,
.app-helmerts-product_filter-sort_content-list-filter p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--color-p);
    cursor: pointer;
}

.app-helmerts-product_filter-all_content-list-filter p:hover,
.app-helmerts-product_filter-category_content-list-filter p:hover,
.app-helmerts-product_filter-sort_content-list-filter p:hover {
    color: var(--pink);
}


.app-helmerts-product_filter_right-filter {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.app-helmerts-product_list-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    width: 100%;
}

.app-helmerts-product_list-content-filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    width: 100%;
    /* grid-template-rows: repeat(100, 1fr); */
}

.app-helmerts-product_load-more-filter {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.app-helmerts-product_load-more-filter button {
    width: 100%;
    height: 100%;
    padding: 0.3rem 1rem;
    background-color: white;
    border: none;
    margin: 0rem 2rem;
    font-family: var(--font-family);
    color: #444;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    border-radius: 0.2rem;
    border: 0.2px solid rgb(219, 219, 219);
}

@media screen and (max-width: 1350px) {
    .app-helmerts-product_list-filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem 0.4rem;
    }

    .app-helmerts-product_list-content-filter {
        grid-gap: 0.4rem;
    }
}

@media screen and (max-width: 990px) {
    .app-helmerts-product_load-more-filter button {
        margin: 0rem 1rem;
        color: #444;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
    }

    .app-helmerts-product_heading-filter {
        padding: 0rem 1rem;
    }

    .app-helmerts-product_heading-filter h1 {
        font-size: 26px;
        line-height: 38px;

    }
}

@media screen and (max-width: 750px) {

    .app-helmerts-product_list-filter {
        padding: 0rem 0.2rem;
    }

    .app-helmerts-product_list-content-filter {
        grid-gap: 0.3rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .app-helmerts-product_heading-filter h1 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
    }
}