.app-helmerts_product_details {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    padding: 5rem 6rem;
    padding-bottom: 0rem;
}

.app-helmerts_product_details-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.app-helmerts_product_details-top-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
    cursor: pointer;
}

.app-helmerts_product_details-top-back svg {
    width: 25px;
    height: 25px;
}

.app-helmerts_product_details-top-back p {
    color: var(--color-p);
}

.app-helmerts_product_details-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    grid-gap: 3rem;
}

.app-helmerts_product_details-content-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 2rem;
}

.app-helmerts_product_details-content-main-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    height: fit-content;
}

.app-helmerts_product_details-content_left-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.app-helmerts_product_details-content_left-img img {
    width: 100%;
    max-height: 700px;
    object-fit: contain;
}

.app-helmerts_product_details-content-main-right {
    display: flex;
    flex-direction: row;
    grid-gap: 1.5rem;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.app-helmerts_product_details-content-main-right-column {
    max-width: 450px;
    background-color: var(--color-legal);
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    border-radius: 0.4rem;
}

.app-helmerts_product_details-content_right-header {
    display: flex;
    flex-direction: column;
    grid-gap: 0.5rem;
    padding: 0.5rem 1rem;

}

.line {
    width: 100%;
    height: 0.1rem;
    background: var(--color-bg);
}

.app-helmerts_product_details-content_right-header h1,
h2,
button,
p {
    font-family: var(--font-family);
}

.app-helmerts_product_details-content_right-header h1 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.04rem;
    word-spacing: -0.3rem;
    font-weight: 400;
    color: #444;
    /* text-transform: uppercase; */
}

.app-helmerts_product_details-content_right-header_price {
    display: flex;
    flex-direction: row;
    grid-gap: 2rem;
}

.app-helmerts_product_details-content_right-header_price p {
    font-family: var(--font-family3);
    font-size: 14px;
    text-decoration: line-through;
    color: var(--color-p);
}

.app-helmerts_product_details-content_right-header_price p:last-child {
    text-decoration: none;
}

.app-helmerts_product_details-content_right-content {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

.app-helmerts_product_details-content_right-content-color {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0rem 1rem;
}

.app-helmerts_product_details-content_right-content-color h3 {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    color: var(--color-p);
}

.app-helmerts_product_details-content_right-content-color p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #444;
}

.app-helmerts_product_details-content_right-content-size {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 0rem 1rem;
}

.app-helmerts_product_details-content_right-content-size-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    cursor: pointer;
}


.app-helmerts_product_details-content_right-content-size-header h3 {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    color: var(--color-p);
}

.app-helmerts_product_details-content_right-content-size-header svg {
    font-family: var(--font-family);
    width: 16px;
    height: 16px;
    color: #444;
}

.app-helmerts_product_details-content_right-content-size-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 1rem;
}

.app-helmerts_product_details-content_right-content-size-content-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.app-helmerts_product_details-content_right-content-size-s,
.app-helmerts_product_details-content_right-content-size-m,
.app-helmerts_product_details-content_right-content-size-l,
.app-helmerts_product_details-content_right-content-size-xl {
    display: flex;
    padding: 1rem;
    border: 0.2px solid #444;
    height: 55px;
    width: auto;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;

}

/* .app-helmerts_product_details-content_right-content-size-s:hover,
.app-helmerts_product_details-content_right-content-size-m:hover,
.app-helmerts_product_details-content_right-content-size-l:hover,
.app-helmerts_product_details-content_right-content-size-xl:hover {
    background-color: var(--color-h);
} */

.app-helmerts_product_details-content_right-content-size-s p,
.app-helmerts_product_details-content_right-content-size-m p,
.app-helmerts_product_details-content_right-content-size-l p,
.app-helmerts_product_details-content_right-content-size-xl p {
    color: #444;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

}

.app-helmerts_product_details-content_right-content-size-s:hover,
.app-helmerts_product_details-content_right-content-size-m:hover,
.app-helmerts_product_details-content_right-content-size-l:hover,
.app-helmerts_product_details-content_right-content-size-xl:hover {
    padding-bottom: 0.9rem;
    border-bottom: 3px solid var(--color-h);
}

.app-helmerts_product_details-content_right-content-size-s.selected,
.app-helmerts_product_details-content_right-content-size-m.selected,
.app-helmerts_product_details-content_right-content-size-l.selected,
.app-helmerts_product_details-content_right-content-size-xl.selected {
    padding-bottom: 0.9rem;
    border-bottom: 3px solid var(--color-h);
    background-color: var(--color-bg);
}

.app-helmerts_product_details-content_right-content-add_to_cart {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.app-helmerts_product_details-content_right-content-add_to_cart button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 3rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #444;
    font-family: var(--font-family);
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.app-helmerts_product_details-content_right-content-add_to_cart button:hover {
    background-color: #515151;
}

.app-helmerts_product_details-content_right-content-description {
    display: flex;
    flex-direction: column;
    grid-gap: 0.7rem;
    padding: 0rem 1rem;
    padding-bottom: 1rem;
}

.app-helmerts_product_details-content_right-content-description p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.04rem;
    word-spacing: -0.1rem;
    font-weight: 400;
    color: #444;
    text-align: justify;
}

.app-helmerts_product_details-content-addition {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    height: 100%;
    grid-gap: 2rem;
}

.app-helmerts_product_details-content_left-size-guide {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-legal);
    left: 0;
    grid-gap: 1rem;
    /* padding-right: 0rem; */
}

.app-helmerts_product_details-content_left-size-guide h3 {
    color: var(--color-h);
    font-size: 22px;
    line-height: 30px;
    font-family: var(--font-family);
}

.app-helmerts_product_details-content_left-size-guide table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.app-helmerts_product_details-content_left-size-guide tr {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
}

.app-helmerts_product_details-content_left-size-guide-header th {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;

    font-family: var(--font-family);
    color: var(--color-p);
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;

}

.app-helmerts_product_details-content_left-size-guide-content td {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;

    font-family: var(--font-family);
    color: var(--color-p);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.app-helmerts_product_details-content_left-manuals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-legal);
    grid-gap: 2rem;
    padding: 1rem;
}

.app-helmerts_product_details-content_left-manuals-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.app-helmerts_product_details-content_left-manuals-heading h1 {
    font-family: var(--font-family2);
    color: var(--color-h);
    font-weight: 300;
    font-size: 26px;
    line-height: 38px;
}

.app-helmerts_product_details-content_left-manuals-content {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    width: 100%;
    height: 100%;
}

.app-helmerts_product_details-content_left-manuals-content-item {
    display: flex;

    flex-direction: column;
    grid-gap: 0.5rem;
}

/* .app-helmerts_product_details-content_left-manuals-content-item h3 {
    font-family: var(--font-family2);
    color: var(--pink);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.app-helmerts_product_details-content_left-manuals-content-item p {
    font-family: var(--font-family2);
    color: var(--color-p);
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
} */
.caplital {
    text-transform: capitalize;
}

.app-helmerts_product_details-content_left-similar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-legal);
    padding: 2rem 0.5rem;
    grid-gap: 2rem;
}

.app-helmerts_product_details-content_left-similar-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-gap: 0.3rem;
}

@media screen and (max-width:990px) {
    .app-helmerts_product_details {
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
        padding: 3.5rem 0rem;
        padding-bottom: 0rem;
    }

    .app-helmerts_product_details-top-back {
        display: none;
    }

    .app-helmerts_product_details-content-main {
        display: flex;
        flex-direction: column;
        grid-gap: 2rem;
    }

    /* .app-helmerts_product_details-content_left-img img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
    } */

    .app-helmerts_product_details-content-main-right {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
    }

    .app-helmerts_product_details-content-main-right-column {
        width: 100%;
        max-width: none;
        border-radius: 0rem;
    }

    .app-helmerts_product_details-content_right-content-description {
        display: flex;
        flex-direction: column;
        grid-gap: 0.5rem;
        padding: 0rem 1rem;
    }

    .app-helmerts_product_details-content_right-content-description p {
        font-family: var(--font-family);
        font-size: 14px;
        line-height: 22px;
        text-align: justify;
    }

    .app-helmerts_product_details-content_left-size-guide {
        /* width: 1000px; */
        /* overflow-x: scroll; */
    }

    .app-helmerts_product_details-content_left-size-guide-header th {

        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

    }

    .app-helmerts_product_details-content_left-size-guide tr {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        grid-gap: 0rem;
    }

    .app-helmerts_product_details-content_left-size-guide table {}

    .app-helmerts_product_details-content_left-size-guide-header th {
        width: 100%;
    }

    .app-helmerts_product_details-content_left-size-guide-content td {
        width: 100%;
    }

    .app-helmerts_product_details-content_left-manuals {
        grid-gap: 1rem;
    }

    .app-helmerts_product_details-content_left-manuals-heading h1 {
        font-size: 22px;
        line-height: 30px;
    }

}

@media screen and (max-width:850px) {
    .app-helmerts_product_details-content_left-similar-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-gap: 0.3rem;
    }
}

@media screen and (max-width:750px) {

    .app-helmerts_product_details-content_left-size-guide {

        grid-gap: 0.5rem;
        /* padding-right: 0rem; */
    }

    .app-helmerts_product_details-content_left-size-guide h3 {
        font-size: 18px;
        line-height: 26px;
    }

    .hidden {
        width: 0px;
        color: transparent;
        font-size: 0px;
        line-height: 0px;
        display: none;
        height: 0px;
        background-color: transparent;
        font-weight: none;
    }

    .app-helmerts_product_details-content_left-size-guide-header th {
        font-size: 14px;
        line-height: 22px;
    }

    .app-helmerts_product_details-content_left-size-guide-header th:nth-last-child(-n+3) {
        width: 0px;
        color: transparent;
        line-height: 0px;
        display: none;
        height: 0px;
        background-color: transparent;
        font-size: 0px;
        font-weight: none;
    }

    .app-helmerts_product_details-content_left-size-guide-content td:nth-last-child(-n+3) {
        width: 0px;
        color: transparent;
        line-height: 0px;
        display: none;
        height: 0px;
        background-color: transparent;
        font-weight: none;
    }


    .app-helmerts_product_details-content_left-size-guide {
        padding-bottom: 0rem;
    }

    .app-helmerts_product_details-content_left-size-guide-content td {
        padding: 0.5rem;
    }

    .app-helmerts_product_details-content_left-size-guide-content tr {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        grid-gap: 2rem;
    }



}

@media screen and (max-width: 600px) {

    .app-helmerts_product_details-content_right-content-size-s p,
    .app-helmerts_product_details-content_right-content-size-m p,
    .app-helmerts_product_details-content_right-content-size-l p,
    .app-helmerts_product_details-content_right-content-size-xl p {
        color: #444;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .app-helmerts_product_details-content_right-header h1 {
        font-size: 22px;
        line-height: 32px;
        letter-spacing: -0.04rem;
        word-spacing: -0.3rem;
        font-weight: 400;
        color: #444;
        /* text-transform: uppercase; */
    }

    .app-helmerts_product_details-content_right-content-color h3 {
        font-size: 18px;
    }

    .app-helmerts_product_details-content_right-content-size-header h3 {
        font-size: 18px;
    }

    .app-helmerts_product_details-content_right-content-size-s,
    .app-helmerts_product_details-content_right-content-size-m,
    .app-helmerts_product_details-content_right-content-size-l,
    .app-helmerts_product_details-content_right-content-size-xl {
        padding: 1rem;
        height: 47px;
        width: auto;
        aspect-ratio: 1/1;
    }

    .app-helmerts_product_details-content_right-content-size-s:hover,
    .app-helmerts_product_details-content_right-content-size-m:hover,
    .app-helmerts_product_details-content_right-content-size-l:hover,
    .app-helmerts_product_details-content_right-content-size-xl:hover {
        padding-bottom: 1rem;
        border-bottom: 2px solid var(--color-h);
    }

    .app-helmerts_product_details-content_right-content-size-s.selected,
    .app-helmerts_product_details-content_right-content-size-m.selected,
    .app-helmerts_product_details-content_right-content-size-l.selected,
    .app-helmerts_product_details-content_right-content-size-xl.selected {
        padding-bottom: 1rem;
        border-bottom: 2px solid var(--color-h);
        background-color: var(--color-bg);
    }

    .app-helmerts_product_details-content_left-manuals {
        grid-gap: 0.5rem;
    }

    .app-helmerts_product_details-content_left-manuals-heading h1 {
        font-size: 18px;
        line-height: 28px;
    }


}