.app-helmerts-signup-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.app-helmerts-signup {
    width: 1260px;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    height: 100%;
}

.app-helmerts-signup-heading {
    display: flex;
    flex-direction: column;
    grid-gap: 0.5rem;
}

.app-helmerts-signup-heading h1 {
    font-family: var(--font-family);
    color: #444;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}

.app-helmerts-signup-heading p {
    color: var(--color-p);
    font-size: 14px;
    word-spacing: -0.2rem;
    letter-spacing: -0.04rem;
    font-weight: 400;
}

.link_ {
    color: #444;
    font-size: 14px;
    word-spacing: -0.2rem;
    letter-spacing: -0.04rem;
}

.app-helmerts-signup-content {
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
    width: 100%;
    background-color: var(--color-bg-box);
    /* background-color: #fffcf7; */
    padding: 1rem;
}

.app-helmerts-signup-content-attribute {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    grid-gap: 1rem;
}

.app-helmerts-signup-content-attribute-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    grid-gap: 2.5rem;
}

.app-helmerts-signup-content-attribute-left-login_information {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    grid-gap: 1.5rem;
}

.app-helmerts-signup-content-attribute-left-login_information-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    grid-gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.app-helmerts-signup-content-attribute-left-login_information-title h1 {
    font-family: var(--font-family);
    color: #444;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}

.app-helmerts-signup-content-attribute-left-login_information-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    grid-gap: 2rem;
}

.app-helmerts-signup-content-attribute-left-login_information-content-email,
.app-helmerts-signup-content-attribute-left-login_information-content-password {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    grid-gap: 1rem;
}

.app-helmerts-signup-content-attribute-left-login_information-content-email-input,
.app-helmerts-signup-content-attribute-left-login_information-content-password-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.custom-notched-outline {
    background-color: none;
    border-color: rgb(96, 49, 34) !important;
    background-color: transparent;
    background: transparent;
    width: 100%;
}

.custom-focused .MuiOutlinedInput-notchedOutline {
    border: 2px solid rgb(96, 49, 34) !important;
    background-color: transparent;
    background: transparent;
    width: 100%;
}

.MuiTextField-root:not(.Mui-focused) .custom-input-label {
    color: var(--color-p);
    font-size: 13px;
    line-height: 20px;
}

.app-helmerts-signup-content-attribute-left-login_information-content-password-alert {
    display: flex;
    flex-direction: column;
    grid-gap: 0.5rem;
}

.app-helmerts-signup-content-attribute-left-login_information-content-password-alert-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.app-helmerts-signup-content-attribute-left-login_information-content-password-alert-title p {
    color: var(--color-p);
    font-size: 14px;
    word-spacing: -0.2rem;
    letter-spacing: -0.04rem;
    font-family: var(--font-family);
}

.app-helmerts-signup-content-attribute-left-login_information-content-password-alert-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    grid-gap: 0.5rem 1rem;
    background-color: var(--color-bg);
}

.app-helmerts-signup-content-attribute-left-login_information-content-password-alert-list p {
    color: var(--color-p);
    font-size: 12px;
    word-spacing: -0.2rem;
    letter-spacing: 0rem;
    font-family: var(--font-family);
}

.app-helmerts-signup-content-attribute-left-personal_information {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    grid-gap: 1rem;
}

.app-helmerts-signup-content-attribute-left-personal_information-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.app-helmerts-signup-content-attribute-left-personal_information-title h1 {
    font-family: var(--font-family);
    color: #444;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}

.app-helmerts-signup-content-attribute-left-personal_information-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    grid-gap: 2rem;
}

.app-helmerts-signup-content-attribute-left-personal_information-content-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}



.app-helmerts-signup-content-attribute-right-billing_information {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 1.5rem;
    justify-content: flex-start;
    height: 100%;
    align-items: flex-start;
}

.app-helmerts-signup-content-attribute-right-billing_information-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    grid-gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.app-helmerts-signup-content-attribute-right-billing_information-title h1 {
    font-family: var(--font-family);
    color: #444;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}

.app-helmerts-signup-content-attribute-left-login_information-title p {
    color: var(--color-p);
    font-size: 13px;
    word-spacing: -0.2rem;
    letter-spacing: -0.04rem;
}

.app-helmerts-signup-content-attribute-right-billing_information-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    grid-gap: 2rem;
}

.app-helmerts-signup-content-attribute-right-billing_information-content-item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.app-helmerts-signup-content-confirm {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    width: 100%;
}

.line_ {
    width: 100%;
    height: 3px;
    background-color: var(--color-bg);
}

.app-helmerts-signup-content-confirm-content {
    display: grid;
    grid-template-columns: 1fr 100fr;
    width: 100%;
    grid-gap: 0rem;
    height: 100%;
}

.app-helmerts-signup-content-confirm-content-svg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.app-helmerts-signup-content-confirm-content-svg svg {
    color: var(--color-p);
}

.app-helmerts-signup-content-confirm-content-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: -1rem;
}

.app-helmerts-signup-content-confirm-content-p p {
    color: var(--color-p);
    font-size: 14px;
    word-spacing: -0.2rem;
    letter-spacing: -0.04rem;
    font-weight: 400;
}

.app-helmerts-signup-content-error,
.app-helmerts-signup-content-success,
.app-helmerts-signup-content-wait {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.app-helmerts-signup-content-error p,
.app-helmerts-signup-content-success p,
.app-helmerts-signup-content-wait p {
    font-family: var(--font-family);
    font-size: 13px;
    cursor: pointer;
    font-weight: 500;
    color: rgb(32, 168, 32);
}

.app-helmerts-signup-content-wait p {
    color: var(--color-p);
}

.app-helmerts-signup-content-error p {
    color: var(--color-h);
}

.app-helmerts-signup-content-confirm-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.app-helmerts-signup-content-confirm-button button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 3rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #444;
    font-family: var(--font-family);
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.imge-style {
    width: 50px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 1rem;
}

@media screen and (max-width: 990px) {
    .app-helmerts-signup-content-attribute {
        display: flex;
        flex-direction: column;
    }

    .app-helmerts-signup-heading h1 {
        font-size: 24px;
    }

}

@media screen and (max-width: 600px) {
    .app-helmerts-signup-content-attribute {
        grid-gap: 2rem;
    }

    .app-helmerts-signup-heading h1 {
        font-size: 22px;
        text-align: center;
    }

    .app-helmerts-signup-content-attribute-left-login_information,
    .app-helmerts-signup-content-attribute-right-billing_information,
    .app-helmerts-signup-content-attribute-left-personal_information {
        grid-gap: 1rem;
    }

    .app-helmerts-signup-content-attribute-right-billing_information-title h1,
    .app-helmerts-signup-content-attribute-left-login_information-title h1,
    .app-helmerts-signup-content-attribute-left-personal_information-title h1 {
        font-size: 17px;
    }

    .app-helmerts-signup-content-attribute-left-login_information-content,
    .app-helmerts-signup-content-attribute-right-billing_information-content,
    .app-helmerts-signup-content-attribute-left-personal_information-content {
        grid-gap: 1.5rem;
    }

    .app-helmerts-signup-content-attribute-left-login_information-content-password-alert-list {
        display: flex;
        flex-direction: column;
    }

    .app-helmerts-signup-content-confirm-content-p p {
        font-size: 12px;
    }

    .app-helmerts-signup-heading p {
        font-size: 12px;
        text-align: center;
    }

    .link_ {
        font-size: 12px;
        text-align: center;
    }

}