body {
  background: var(--color-bg);
}

.helmerst-app {
  font-family: var(--font-family);
  background-color: var(--color-bg);
}

p {
  font-family: var(--font-family);
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.navbar_color {
  color: white;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.fall-in-left {
  opacity: 0;
  transform: translateX(-100%);
  animation: fallInLeft 0.5s ease-in forwards;
}

@keyframes fallInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clop: text;
  -webkit-text-fill-color: transparent;
}

.line_color {
  background: var(--liner-color);
  background-clip: text;
  -webkit-background-clop: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 0rem 10rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.text-title-h1 {
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  color: var(--color-h);
  line-height: 26px;
  margin-bottom: 1rem;
}

.padding_top {
  padding-top: 6rem;
  /* padding-bottom: 3rem; */
  margin-bottom: 3rem;
}

.text-paragraph-p {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: var(--color-p);
  line-height: 26px;
}

.legal-p-title {
  font-family: var(--font-family2);
  font-size: 17px;
}

.legal-p-content {
  width: 100%;
  padding: 0rem 2rem;
  color: var(--color-p);
  font-family: var(--font-family2);
  word-spacing: 0.15rem;
  text-align: justify;
  font-size: 17px;
}

.btn-transition {
  transition: transform 0.3s ease;
}

.btn-transition:active {
  transform: scale(0.8);
}

.helmerst-app {}

.helmerst-app-navbar {
  /* padding: 1rem 10rem; */
}

@media screen and (max-width: 1400px) {
  .section__padding {
    padding: 0rem 1rem;
  }
}

@media screen and (max-width: 990px) {

  .text-paragraph-p {
    font-size: 16px;
    line-height: 24px;
  }

  .text-title-h1 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 0.5rem;
  }

  .legal-p-content {
    padding: 0rem 1rem;
    word-spacing: 0.05rem;
  }



}

@media screen and (max-width: 600px) {
  .section__padding {
    padding: 0rem 0.5rem;
  }

  .text-title-h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0.5rem;
  }

  .text-paragraph-p {
    font-size: 14px;
    line-height: 22px;
    word-spacing: -0.1rem;
  }

  .legal-p-title {
    font-size: 15px;
  }

  .legal-p-content {
    font-size: 14.5px;
    word-spacing: -0.04rem;
  }
  .padding_top{
    padding-top: 5rem;
  }

}

@media screen and (max-width: 400px) {
  .text-title-h1 {
    font-size: 20px;
    line-height: 30px;
    word-spacing: -0.2rem;
  }
}