.app-helmerts_infor-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
}

.app-helmerts_infor-link_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    display: grid;
    grid-template-columns: 100fr 1fr;
}

.pointer {
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: var(--pink);
    color: var(--color-icon3);
}

@media screen and (max-width: 600px) {
    .pointer {
        width: 16px;
        height: 16px;
    }
}